* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

body {
    position: relative;
}

#bg-road {
    display: flex;
    justify-content: center;
}

#bg-road img {
    width: 400px;
    height: auto;
    position: relative;
}

#controlUser-car img {
    width: 60px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 42vw;
    background-color: transparent;
}

#obstacle-car1 img {
    width: 60px;
    height: auto;
    position: absolute;
    top: 0;
    left: 42vw;
    background-color: transparent;
}

#obstacle-car2 img {
    width: 60px;
    height: auto;
    position: absolute;
    top: 0;
    right: 42vw;
    background-color: transparent;
}

.result {
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: 20vw;
}

.startGame {
    position: absolute;
    top: 70vh;
    left: 25%;
}